page {
  height: 100vh;
  background-color: #efefef !important; //important作用是提高权重
  padding: 10rpx ;
  box-sizing: border-box; //更改盒模型

  display: flex;
  flex-direction: column;

  > view {
    // 每隔N+2个框架都有16rpx的间隔
    &:nth-child(n + 2) {
      margin-top: 16rpx;
    }
  }
}

// 轮播图区域样式
.swiper {
  border-radius: 10rpx; //设置圆形边框大小
  overflow: hidden; // 修饰边框（用于稳定轮播图不会变回尖角）

  swiper {
    height: 360rpx;
    swiper-item {
      image {
        width: 100%;
        height: 100%;
        border-radius: 10rpx;
      }
    }

  }
}

.info {
  display: flex;
  justify-content: space-around; //平分空间
  background-color: rgb(212, 55, 7);
  padding: 16rpx; //设置组件四周边距
  font-size: 23rpx;
  border-radius: 10rpx; //设置圆形边框大小
}
