page {
  height: 100vh;
  background-color: #efefef !important; // important作用是提高权重
  padding: 10rpx ;
  box-sizing: border-box; // 更改盒模型

  display: flex;
  flex-direction: column;

  > view {
    // 每隔N+2个框架都有16rpx的间隔
    &:nth-child(n + 2) {
      margin-top: 16rpx;
    }
  }
}

// 轮播图区域样式
.swiper {
  border-radius: 10rpx; // 设置圆形边框大小
  overflow: hidden; // 修饰边框（用于稳定轮播图不会变回尖角）

  swiper {
    height: 360rpx;
    swiper-item {
      image {
        width: 100%;
        height: 100%;
        border-radius: 10rpx;
      }
    }

  }
}

// 公司信息样式
.info {
  display: flex;
  justify-content: space-around; // 平分空间，两边留空
  background-color: rgb(212, 55, 7);
  padding: 20rpx 16rpx; // 设置组件四周边距
  font-size: 23rpx;
  border-radius: 10rpx; // 设置圆形边框大小

  .iconfont {
    font-size: 24rpx;
  }
}

// 商品导航样式
.good-nax {
  display: flex;
  justify-content: space-between; // 平分空间，两边不留空
  padding: 20rpx 16rpx; // 设置组件四周边距
  background-color: lightyellow;
  border-radius: 10rpx; // 设置圆形边框大小

  view {
    navigator {
      display: flex;
      flex-direction: column; // 使文字和图片垂直布局
      align-items: center; // 控制图片和文字对齐 
    }

    image {
      height: 80rpx;
      width: 80rpx;
    }

    text {
      font-size: 24rpx;
      margin-top: 12rpx; // 控制相邻元素间隔（在同个view里面）
    }
  }
}

// 推荐商品样式
.good-hot {
  background-color: #fff;
  padding: 16rpx;
  border-radius: 10rpx;

  .scroll-x {
    width: 100%;
    white-space: nowrap;

    view {
      display: inline-block;
      width: 320rpx;
      height: 420rpx;
      margin-right: 16rpx; // 控制图片之间的间隔

      .good-item {
        display: flex;
        flex-direction: column;
        align-items: center; // 文字与图片居中对齐
        justify-content: space-between;

        text {
          &:nth-of-type(1) {
            font-weight: bold; // 加粗第一个text
          }
        }
      }

      image {
        width: 100%;
        height: 320rpx;
      }

      &:last-child {
        margin-right: 0; //控制最后一个图片右边没有间隙
      }
    }
  }
}