// 做轮播图 自动播放/轮播/展示3个点/轮播时长/点选中未选中时的颜色

page {
  height: 100vh;
  background-color: #efefef !important; //important作用是提高权重
}

.swiper {
  swiper {
    height: 360rpx;
    background-color: lightgreen;
    swiper-item {
      &:first-child {
        background-color: rgb(241, 157, 227);
      }
      &:last-child {
        background-color: lightskyblue;
      }
      &:nth-child(2) {
        background-color: lightsalmon;
      }
      &:nth-child(3) {
        background-color: lightyellow;
      }
    }

  }
}